
.container {
    position: relative;
    background-color: rgb(212, 242, 221);
    width: 80vw;
    height: 60vh;
    z-index: -1;
}
img {
    position: absolute;
    width: 5vw;
    height: 5vh;
    margin-left: 10px;
    margin-top: 10px;

}

.grid5 {
    border: 2px solid black; border-collapse: collapse;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;

}

b{
    font-family: arial;
    font-weight: light;
    position: absolute;
    left: 50PX;
    top: 18px;
    letter-spacing: 5px;
}

h1 {
    position: absolute;
    top: 250px;
    left: 20px;
    width: 200px;
    color: rgb(3, 3, 83);
    font-weight: bolder;

}

.grid {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40vw;
    height: 40vh;
    z-index: 0
       
    }

.arc {
    position: absolute;
    left: 160px;
    top: 83px;
    width: 30vw;
    height: 15vh;
    z-index: 2;

}

.box {
    position: absolute;
    top: 180px;
    right: 47px;
    width: 20vw;
    height: 25vh;
    z-index: 2;


}

.cursor {
    position: absolute;
    width: 18vw;
    height: 18vh;
    top: 95px;
    right: 5px;
    transform: rotate(300deg);
    z-index: 2;
}

.globe {
    position: absolute;
    width: 10vw;
    height: 10vh;
    top: 200px;
    left: 220px;
    z-index: 2;

}

.square {
    height: 15vh;
    width: 15vw;
    background-color: antiquewhite;
    position: absolute;
    right: 20px;
    top: 30px;
    font-family: cursive;
    text-decoration: wavy;
    font-size: 20px;
    font-style: oblique;
    font-stretch: expanded;
    text-align: center;
    /* align-content: center center; */

    
}

.trapezoid {
    border-bottom: 20px solid hsl(133, 88%, 10%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0px;
    width: 50px;
    position: absolute;
    top: 8px;
    right: 45px;

}